* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.big-container {
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* provisory  */
.dashed {
  border: 1px dashed black;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-lgrey {
  background-color: lightgray;
}

.bg-orange {
  background-color: orangered;
}

.bg-green {
  background-color: lightgreen;
}

.height-400 {
  height: 400px;
}

/* col  */

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;

}

.col-66 {
  width: calc(100% / 3 +2);
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}

/* basics  */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

/* spaces  */
.mr-15 {
  margin-right: 15px;
}

.text-center {
  text-align: center;
}

.py-20 {
  padding: 20px 0;
}

.m-bottom-20 {
  margin-bottom: 40px;
}

.position-relative {
  position: relative;
}

/* flex & co  */
.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-sbetween {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.vertical {
  vertical-align: middle;
}

/* IDs  */
#business,
#partner,
#product,
#users,
#other {
  padding: 200px 0;
}

#jumbotron {
  padding-top: 150px;
  background-color: #B4D0E6;
}

#other {
  color: white;
}

/* classes  */
.plan {
  border: 1px solid black;
  border-top: 0px;
}

.fa-check {
  color: blue;
}

.box {
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;
}

.blue.box {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

.circle-check {
  border: 1px solid black;
  border-radius: 50%;
  padding: 11px;
}

.circle-check-true {
  border: 7px solid rgb(28, 12, 255);
  border-radius: 50%;
  padding: 5px;
}

.h-left,
.h-right {
  padding: 25px 15px;
}

.monthly .fa-solid {
  color: blue;
}

#business .top {
  border: 1px solid black;
  padding: 12px 0;
}

/* selectors  */
.menu *,
.support * {
  display: inline-block;
  margin-right: 15px;
}

#business li {
  display: flex;
}

#business i {
  margin-right: 5px;
}

.plan-buy a,
#users a {
  text-decoration: underline;
  color: blue;
}

#business hr {
  width: 20%;
  color: lightgray;
}

#other hr {
  width: 10%;
  margin: 60px 0px;
}

#other .col-100 * {
  color: grey;
  margin-right: 5px;
}

#jumbotron .fa-arrow-down {
  font-size: 5rem;
  margin-top: 100px;
}

#jumbotron img {
  position: absolute;
  width: 1050px;
}

#business .row>*,
#business .col-33>*,
.enterprise-plan>*,
#partner .row>*,
#product .row>*,
#users .row>* {
  padding: 25px;
}

.plan *,
#partner .col-40>*,
#product .col-33>*,
#other * {
  margin-bottom: 20px;
}